<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="GrantApp.Properties.Settings.Database1ConnectionString"
      connectionString="Data Source=192.168.1.17;Initial Catalog=grantapp;Persist Security Info=True;User Id=grantuser;Password=asdfghjkl"
      providerName="System.Data.SqlClient" />-->
    <add name="GrantApp.Properties.Settings.Database1ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database2.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
